<div class="background">
</div>

<div class="about_us"> 
    <div class="icon_left"></div>
    <div class="icon_right"></div>
    <div class="large_square">
        <div class="small_square">
            <div class="about_text">
                <p id="about_tittle">Sobre nós</p>
                <p id="about_content">
                    The quick, brown fox jumps over a lazy dog. DJs flock
                    by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. 
                    Bawds jog, flick quartz, vex nymphs.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="food_menu">
    <p class="food_menu_title">Nosso Cardápio</p>
    <ul>
        <li class="food_menu_items">
           <%= image_tag  "chocolate_pizza.png" %>
            <a href="#" class="food_menu_text">Pizza doce</a>
        </li>
        <li class="food_menu_items">
            <%= image_tag  "pizza.png" %>
            <a href="#" class="food_menu_text">Pizza salgada</a>
        </li>
        <li class="food_menu_items">
            <%= image_tag  "wine.png" %>
            <a href="#" class="food_menu_text">Vinhos</a>
        </li>
    </ul>
</div>

