
<div class="form">
    <%= form_with(url: login_path  , local:true ) do |form| %>        
        <div class="field">
            <%= form.label :email, "Usuário" %>
            <%= form.email_field :email %>
            <p><%= link_to "Não possui conta?!Clique aqui!", cadastro_path%><p>
        </div>

        <div class="field">
            <%= form.label :password, "Senha" %>
            <%= form.password_field :password %>
            <p><%= link_to "Esqueci minnha senha.", cadastro_path%><p>
        </div>

        <div class="field" class="actions">
            <%= form.submit "logar" %>
        </div>
    <% end %>
</div>
