<div class="register_page">
    
    <div class="register_form">
        <%= form_for(@user) do |form| %>

            <div class="field">
                <%= form.label :name, "Nome" %>
                <%= form.text_field :name %>
            </div>
            
            <div class="field">
                <%= form.label :email, "Email" %>
                <%= form.email_field :email %>
            </div>
                
            <div class="field">
                <%= form.label :telephone, "Telefone" %>
                <%= form.telephone_field :telephone %>
            </div>

            <div class="field">
                <%= form.label :password, "Senha" %>
                <%= form.password_field :password %>
            </div>
            
            <div class="field">
                <%= form.label :password_confirmation, "Confirmar senha" %>
                <%= form.password_field :password_confirmation %>
            </div>

            <div class="actions">
                <%= form.submit "Cadastrar"%>
            </div>
        <% end %>
    </div>
</div>
