
<div class="profile_page">
    <h1>Perfil<h1>
    <div class="profile_info">
        nome: <%= @user.name%>
    </div>
    <div class="profile_info">
        email: <%= @user.email %>
    </div>
    <div class="profile_info"> 
        telefone: <%= @user.telephone %>
    </div>


    <%= link_to  "Mostrar Usuarios |", users_path, class: "edit_link" %>
    <%= link_to 'Editar', edit_user_path(current_user), class: "edit_link"%>
</div>
