/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_reset
 *= require_tree .
 *= require_self
*/


@font-face{
    font-family: "italiana";
    src: url("Italiana-Regular.ttf")
    
}

@font-face{
    font-family: "roboto";
    src: url("Roboto-Regular.ttf")
    
}

@font-face{
    font-family: "oleo_script";
    src: url("OleoScript-Regular.ttf")
    
}

@font-face{
    font-family: "fredericka";
    src: url("FrederickatheGreat-Regular.ttf")
    
}

@font-face{
    font-family: "romanesco";
    src: url("Romanesco-Regular.ttf")

}

:root{
    --preto: #242424;
    --preto-claro: #2D2B2B;
    --branco: #fefefe;
    --amarelo: #F9E63E;
    --laranja: #F99222;
    --vermelho-claro: #BA3232;
    --vermelho-escuro: #880C0C;
    --vermelho-hover: #E67F7F;
}

header{
    width: 100%;
    height: 100px;
    background-color: var(--vermelho-claro);
    font-family: "roboto";
}

header img{
    margin: 5px 10px;
    position: absolute;
}

header .header_tittle{
    width: 300px;
    font-family: "italiana";
    font-size: 3.125em;
    color: var(--amarelo);
    margin-left: 110px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

header ul{
    width: 350px;
    margin: 15px auto;
}

header ul li{
    font-family: "roboto";
    display: inline-block;
    margin: 10px;
    text-align: left;
}

header .nav_text{
    color: var(--branco);
    font-size: 1.125em;
}

header .profile{
    float: right;
    font-size: 1.125em;
    margin-top: -45px;
    margin-right: 20px;
}

header .form{
    margin-top: -60px;
    margin-right: 20px;
    float: right;
    color: var(--branco);
}

header .form a{
    color: var(--branco);
    font-size: 0.625em;
}

header .form .field{
    display: inline-block;
}

header .form input{
    border: solid var(--vermelho-hover) 2px;
    border-radius: 34px; 
}


header .form [type = submit]{
    font-family: "roboto";
    background-color: var(--vermelho-claro); 
    color: var(--branco);
}


footer {
    width: 100%;
    height: 268px;
    background-color: var(--vermelho-claro);
}

footer .footer_title{
    color: var(--branco);
    text-align: center;
    text-decoration: underline;
    font-family: "oleo_script";
    font-size: 2.25em;
    padding: 20px;
}

footer .contact{
    text-align: center;
    margin-top: 35px; 
}

footer .contact img{
    margin: 0 30px 0 30px;
}

.copyright{
    font-family: "roboto";
    color: var(--preto);
    background-color: var(--vermelho-escuro);
    text-align: center;
    font-size: 1em;
    padding: 10px;
}