// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background{
    background-image: image-url("background.png");
    width: 100%;
    height: 382px;
}

.about_us{
    width: 100%;
    height: 480px;
    background-color: var(--vermelho-escuro);
    border-top: 10px solid var(--laranja);
    border-bottom: 10px solid var(--laranja);
    
}

.about_us .icon_left{
    position: absolute;
    margin: 110px 10%;
    width: 250px;
    height: 250px;
    background-image: image-url("cutlery.png");
    background-repeat: no-repeat
}

.about_us .icon_right{
    float: right;
    margin: 110px 10%;
    width: 250px;
    height: 250px;
    background-image: image-url("champagne-glass.png");
    background-repeat: no-repeat;
}


.large_square{
    width: 600px;
    height: 480px;
    background-color: var(--preto);
    margin: 0 auto;
}

.small_square{
    width: 460px;
    height: 480px;
    background-color: var(--preto-claro);
    margin: 0 auto;
}

.about_text #about_tittle{
    width: 140px;
    position: relative;
    top: 50px;
    color: var(--amarelo);
    font-family: "oleo_script";
    font-size: 3em;
    margin: 0 auto;
    text-decoration: underline;
}



.about_text #about_content{
    width: 340px;
    position: relative;
    top: 170px;
    color: var(--branco);
    font-family: "romanesco";
    font-size: 2.25em;
    margin: 0 auto;
    line-height: normal;
    text-align: center;
}


.food_menu .food_menu_title{
    position: relative;
    top: 50px;
    width: 284px;
    margin: 0 auto;
    margin-top: 0;
    font-size: 3em;
    text-decoration: underline;
}

.food_menu{
    height: 650px;
    background-color: var(--preto);
    font-family: "fredericka";
    color: var(--branco);

}

.food_menu .food_menu_items{
    display: inline-grid;

}
.food_menu .food_menu_items:nth-child(2){
    margin:0 20px;
}

.food_menu ul{
    text-align: center;
    margin-top: 10%
}

.food_menu .food_menu_text{
    color: var(--branco);
    text-align: center;
    margin-top: 10px;
    font-size: 2.25em;
}
