// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






.register_page{
    color: var(--branco);
    text-align: center;
    background-color: var(--laranja);
    height: 70vh;

}

.greeting{
    color: var(--branco);
    text-align: center;
    background-color: var(--laranja);
    padding-top: 40px;
    font-size: 3em;

}

.register_form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.register_page input{
    border: solid var(--vermelho-hover) 2px;
    border-radius: 34px; 
    padding: 14px 83px;
    margin-bottom: 28px;
}

.register_page .field{
    font-size: 2em;
}

.profile_page{
    font-size: 2em;
    line-height: normal;
    color: var(--branco);
    text-align: center;
    background-color: var(--laranja);
    height: 70vh;
}

.profile_page h1{
    padding: 30px;
}

.profile_page .profile_info{
    margin: 20px 0;
}

.profile_page .edit_link{
    
}