<!DOCTYPE html>
<html>
  <head>
    <title>PeDePizza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <%= image_tag("Logo.png") %>
      <p class="header_tittle">Pé de Pizza<p>
      <ul>
        <li><%= link_to "Home", root_path, class: "nav_text" %></li>
        <li><a href="#" class="nav_text">Sobre nós</a></li>
        <li><a href="#" class="nav_text">Cardapio</a></li>
        <li><a href="#" class="nav_text">Contato</a></li>
      </ul>
      <% if not logged_in? %>
        <%= render  "sessions/new" %>
      <% end %>
      <% if logged_in? %>
        <div class="profile">
          <%= link_to  "#{@current_user.name}, ", current_user %>  
          <%= link_to "Log out", logout_path, method: :delete  %>
        <div>
      <% end %>
    </header> 

    <%= yield %>
    
    <footer>
        <p class="footer_title">Siga nos</p>
        <div class="contact">
          <%= image_tag  "whatsapp.png" %>
          <%= image_tag  "facebook.png" %>
          <%= image_tag  "instagram.png" %>

    </footer>
    <p class="copyright">Copyright 2019-IN Junior</p>

  </body>
</html>
